*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family:'Playfair Display', serif;
    line-height: 1.6;
    background-color: #faf9f5;
    overflow-x: hidden;
}

:root {
    --clr-main: #ad5634;
    --clr-accent: #506d2d;

    --clr-text: #555;
    --clr-dark: #222;
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.container {
    width: 85%;
    max-width: 65rem;
    margin: 0 auto;
}

.card-title {
    font-size: 2.25rem;
    font-size: clamp(1.5rem, calc(5vw+1rem), 2.25rem);
    color: var(--clr-text);
}

.article__title {
    font-size: 1.5rem;
    font-size: clamp(1.5rem, calc(5vw+1rem), 1.5rem);
    color: var(--clr-main);
}

.article__text {
    font-size: 1rem;
    font-size: clamp(1rem, calc(5vw+1rem), 1.3rem);
    color: var(--clr-dark);
}

.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.date {
    font-size: .8rem;
    font-size: clamp(.8rem, calc(5vw+1rem), 1rem);

    &:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 400;
        content: "\f017";
    }
}

.article__read {
    display: inline-block;
    color: var(--clr-accent);
    text-decoration: none;

    &:after {
        font-family: "Font Awesome 5 Free";
        font-weight: 700;
        content: "\f061";
    }
}

// Hero Area 

.hero {
    padding: 14.2em 0;
    background: url(img/hero.png);
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;

    .logo {
        position: absolute;
        top: 0;
        left: 0;
        background-color:var(--clr-main);
        text-align: center;
        width: max-content;
        padding: 1em .5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &__text {
            color: #fff;
            font-size: .8rem;
            font-size: clamp(.2rem, calc(5vw+1rem), .8rem);
            line-height: 1.2;
        }
        
        @media (max-width: 48em) {
            padding: .5em .2em;

            &__image {
                width: 80%;
            }
            &__text {
                font-size: .7rem;
                font-size: clamp(.65rem, calc(2vw+1rem), .8rem)
            }
        }
    }
}

// Navbar

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    &__links{
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 70%;
        background-color: var(--clr-main);
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transform: translateX(200%);
        transition: transform 0.5s ease-in;

        li {
            list-style-type: none;
            opacity: 0;
            

            a {
                text-decoration: none;
                font-size: 1.25rem;
                font-size: clamp(.8rem, calc(4vw+1rem), 1.25rem);
                color: #fff;
                padding: 2em 4em;
            }
        }
    }
    .burger {
        cursor: pointer;
        position: absolute;
        top: 1%;
        right: 1%;

        div {
            width: 25px;
            height: 3px;
            background-color: var(--clr-text);
            margin: 5px;
            transition: all 0.3s ease;
        }
    }
}
@media (min-width: 768px) {
    
    .nav {
        height: 5vh;
        background-color: var(--clr-main);
        width: 100%;

        &__links {
            all: unset;
            display: flex;
            justify-content: space-around;
            align-items: center;
            color: #fff;
            width: 100%;
            
            li {
                opacity: 1;
                transition: outline 0.6s linear;
                
                a {
                    padding: .3rem;
                    font-size: .9rem;
                    font-size: clamp(.9rem ,calc(4vw+1rem), 1rem);
                }
            }
        }
        .burger {
            display: none;
        }
    }
}

.nav--active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle {
    .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .line2 {
        opacity: 0;
    }
    .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}