*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family:'Playfair Display', serif;
    line-height: 1.6;
    background-color: #faf9f5;
    overflow-x: hidden;
}

:root {
    --clr-main: #ad5634;
    --clr-accent: #506d2d;

    --clr-text: #555;
    --clr-dark: #222;
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.container {
    overflow-x: hidden;
    position: relative;
}

.main {
    width: 90%;
    max-width: 70rem;
    margin: 0 auto;
    overflow-x: hidden;
    position: relative;
}

.footer-container {
    max-width: 90%;
    max-width: 70rem;
    margin: 0 auto;
}


@media (min-width: 768px) {
    .main {
        width: 85%;
    }
    .footer-container {
        width: 85%;
    }
}

.icon::before,
.icon::after {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.title-container {
    position: relative;
    text-align: center;
    background-color:#faf9f5;
    width: 100%;
    
    &:before {
        content: '';
        width: 100%;
        border-bottom: solid 2.5px var(--clr-accent);
        position: absolute;
        left: 0;
        top: 50%;
        z-index: 1;
    }
}

.title {
    display: inline-block;
    font-size: 1.5rem;
    font-size: clamp(1.3rem, calc(5vw+2rem), 1.5rem);
    color: var(--clr-text);        
    z-index: 1;
    padding: 0 .5em 0 .5em;
    position: relative;
    background-color:#faf9f5;
    text-align: center;
}

.small {
    font-size: 1rem;
    font-size: clamp(.8rem, calc(5vw+2rem), 1rem);    
}

.content__title {
    font-size: 1rem;
    font-size: clamp(.8rem, calc(5vw+2rem), 1rem);
    color: var(--clr-main);
    line-height: 1.4;
}

.text-container {
    padding: 0.5em 1em;
}

.content__text {
    font-size: .8rem;
    font-size: clamp(.7rem, calc(5vw+2rem), .8rem);
    color: var(--clr-dark);
}

.date {
    font-size: .5rem;
    font-size: clamp(.4rem, calc(5vw+2rem), .6rem);

    &:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 400;
        content: "\f017";
    }
}

.read-more {
    font-size: .8rem;
    font-size: clamp(.6rem, calc(5vw+2rem), .8rem);
    color: var(--clr-accent);
    text-decoration: none;

    &:after {
        font-family: "Font Awesome 5 Free";
        font-weight: 700;
        content: "\f061";
        padding-left: .25em;
    }
}

// HERO

.hero {
    padding: 14em;

    background: url(img/hero.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;

    position: relative;


    .logo {
        position: fixed;
        top: 0;
        left: 0;
        padding: 0.5em 0;
        background-color: var(--clr-main);
        display: grid;
        place-items: center;
        z-index: 2;

        &__image {
            display: grid;
            place-items: center;
            width: 60%;
        }

        &__text {
            display: none;
        }
    }
}

@media (min-width: 768px) {
    .hero {
        width: 85%;
        max-width: 70rem;
        margin: 0 auto;

        .logo {
            position: absolute;
            padding: 0.5em .3em;

            
        &__image {
            display: grid;
            place-items: center;
            width: 80%;
        }


            &__text {
                display: inline-block;            
                color: #fff;
                text-align: center;
                font-size: .6rem;
                font-size: clamp(.2rem, calc(5vw+1rem), .6rem);
                line-height: 1.2;
                letter-spacing: 1px;
                margin-top: .5em;
            }
        }
    }
}

// NAV

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

        &__links {
            position: fixed;
            right: 0;
            top: 0;
            height: 100vh;
            width: 60%;
            z-index: 2;

            background-color: var(--clr-main);
            margin: 0;
            padding: 0;

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            transform: translateX(200%);
            transition: transform 0.5s ease-in;

            li {
                list-style: none;
                opacity: 0;

                    a {
                        text-decoration: none;
                        color: #fff;
                        font-size: .9rem;
                    }
            }
        }

        .burger {
            cursor: pointer;
            position: fixed;
            top: 0;
            right: 0;
            z-index: 3;
            background-color: var(--clr-main);
            padding: .2em;

            div {
                width: 30px;
                height: 3px;
                background-color: white;
                margin: 5px;
                transition: all 0.3s ease;
            }
        }
}


@media (min-width: 768px) {
    .nav {
        height: 3em;
        background-color: var(--clr-main);
        width: 85%;
        max-width: 70rem;
        margin: 0 auto;
        z-index: 3;

        &__links {
            all: unset;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;

            

            li {
                opacity: 1;
                transition: transform .2s ease;
                position: relative;
                
                &:hover {
                    transform: scale(1.1);
                }

                a {
                    padding: .3rem;
                }
            }
        }
        .burger {
            display: none;
        }
    }   
}

.nav--active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}


.toggle {
    .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .line2 {
        opacity: 0;
    }
    .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}


// NEWS
.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    & > * {
        flex-basis: min-content;
        min-width: 10em;
    }
}

@media (min-width: 768px) {
    .cards {
        & > * {
            flex-basis: 30%;
        }
    }
}

.content {
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.15);
    margin: .5em;
}

.news {
    .cards {
        & > * {
            flex-basis: 100%;
        }
    }
}

@media (min-width: 768px) {
    .news {
        .cards {
            & > * {
                flex-basis: 100%;
            }
        }
    }
}

@media (min-width: 1024px) {
    .news {
        .cards {
            & > * {
                flex-basis: 30%;
            }
        }
    }
}

// VIDEO

iframe {
    display: block;
    width: 100%;
}

// ASIDE 

.aside {
    display: grid;
    place-items: start;
    justify-self: center;

    .content {
        display: grid;
        place-items: center;   
    }
}

@media (min-width: 768px) {
    .aside {
        width: 100%;
        margin-top: .5em;
        .cards {
            display: flex;
            flex-direction: column;
        }
    }
}

@media (min-width: 1024px) {
    .aside {
        width: 90%;
        .cards {
            display: flex;
            flex-direction: column;
        }
    }
}

// HRAM 

.hram {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .content__text {
        text-align: center;
    }
}

// CALENDAR

.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: .5em;

    &__image {
        display: grid;
        place-items: center;
        max-width: 10em;
        background-color: var(--clr-main);
        border-radius: 10%;
        margin-top: .5em;


        img {
            padding: 1em;
            width: 80%;
        }
    }
}

@media (min-width: 768px) {

}

// LINKS 

.links {
    display: none;
}

@media (min-width:768px) {
    .links {
        display: block;
        margin: 1em .5em;
        background: white;
        box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);

        &__images {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            margin-top: 1em;

            & > * {
                flex-basis: 15%;
                max-width: 10em;
            }
        }
    }
}

// FOOTER 
footer {
    overflow-x: hidden;
    position: relative;
}

.footer-content {
    display: flex;
    background-color: #fff;
    padding: 1em;

    .contact {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .footer-text {
            display: inline-block;
            margin: .5em;
            font-size: .6rem;
            font-size: clamp(.3rem, calc(5vw+5rem), .6rem);
            color: var(--clr-dark);
            width: 30%;
        }

        &__logo {
            padding: .5em;
            flex-basis: 40%;
            min-width: 2em;
            max-width: 7.5em;
        }

        @media (max-width: 768px) {
            .footer-text {
                width: 100%;
            }
        }
    }

    .social {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        a{
            margin-right: .5em;
        }

        & > * {
            flex-basis: 12.5%;
            min-width: 1.2em;
            max-width: 10em;
        }
        
        @media (min-width: 768px) {
            a:last-of-type {
                margin-right: 0;
             }
        }
    }
}

// DISPLAY GRID

@media (min-width: 768px) {
    .main {
        display: grid;
        grid-template-areas: "news aside"
                            "video video"
                            "hram calendar"
                            "links links";
        grid-template-columns: 69.5% 29.5%;

        .news {
            grid-area: news;
        }
        
        .video {
            grid-area: video;
        }

        .hram {
            grid-area: hram;
        }

        .calendar {
            grid-area: calendar;
        }

        .aside {
            grid-area: aside;
        }
        .links {
            grid-area: links;
        }    
    }
}


@media (min-width: 1024px) {
    .main {
        grid-template-areas : "news news aside"
                            "video video aside"
                            "hram calendar aside"
                            "links links aside";
        grid-template-columns: 40% 30% 30%;
        grid-template-rows: min-content;
    }
}
