* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    background-color: #B3E7F2;
    color: black;
}

 /* HEADER */

header {
    display: flex;
    flex-direction: column;
    background-color: #183446;
    flex-wrap: wrap;
}

.logo {
    align-self: center;
    cursor: pointer;
    margin-bottom: -1rem;
}

.logo:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
}

 /* NAV BAR */

.nav-bar ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 1rem;
    flex: 1;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.nav-bar a:focus{
    transition: 0.5s;
    -webkit-text-fill-color: #B3E7F2;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #B3E7F2;
}
 /* FOOTER */

footer {
    background-color: #183446;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0.8rem;
    font-size: 0.8rem;
}


 /* SECTION */

 .welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
 }

h1 {
    padding-top: 1rem;
    font-size: 50vw;
    font-size: 40vmax;
    font-size: 10vmin;
    width: 90%;
    display: inline-block;
    color: #D95032;
}

.welcome p {
    font-size: 30vw;
    font-size: 20vmax;
    font-size: 10vmin;
    display: inline-block;
    width: 90%;
    padding-top: 1rem;
}

.arrow {
    margin-left: 1rem;
    align-self: flex-start;
}