* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    background-color: #B3E7F2;
    color: black;
}

li, a {
    text-decoration: none;
    color: white;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #183446;
    height: 10vh;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    margin-left: -10rem;
}

.logo:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
    margin-right: 5rem;
}

.nav-links li a:hover{
    transition: 0.5s;
    -webkit-text-fill-color: #B3E7F2;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #B3E7F2;
}
.main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 3rem;
    height: 80vh;
}

h1 {
    font-size: 2.5rem;
    color: #D95032;
}

h2 {
    font-size: 1.5rem;
    color: black;
    padding: 0 5rem;
}

footer {
    background-color: #183446;
    color: white;
    height: 10vh;
}

blockquote {
    padding: 20px 20px;
    text-align: center;
    font-size: 1.3rem;
}
cite {
    font-size: 1rem;
}

.skills-page {
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.skills-img {
    display: inline-block;
    padding: 2rem;
    text-align: center;
}

.skills-page h1 {
    margin: 2rem 0 3rem 0;
    text-align: center;
}

.skills-img img {
    width: 124px;
    height: 124px;
}

.skills-img img:hover {
    transform: scale(1.5);
    transition: 0.5s ease;
}

.skills-page h2 {
    text-align: center;
    margin-top: 2rem;
}

.projects {
    display: flex;
    justify-content: center;
}

.projects img {
    margin-top: 3rem;
    width: 400px;
    padding: 1rem;
    border-radius: 5px;
}

.projects img:hover {
    transition: 0.5s ease;
    cursor: pointer;
    transform: scale(1.1);
}

.contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    line-height: 3rem;
    height: 80vh;
}

.contact h1 {
    margin: 2rem 0 0 0;
    text-align: center;
}

.social {
    margin-top: 1.5rem;
}

fieldset { 
	border: 1px solid black;
	border-radius: 10px;
	margin-bottom: 2rem;
}

legend {
	font-weight: bold;
	font-size: 1.5rem;
	margin: 3rem 0 1.5rem 0;
}

label {
	display: block;
    margin: 0 2rem;
    font-size: 1.3rem;
}

input {
	display: block;
	margin: 1rem 2rem;
	width: 20rem;
	font-family: 'Raleway', sans-serif;
	font-size: 1.2rem;
	padding: 0.2rem 1rem;
	border-radius: 10px;
	border: none;
}

input:last-of-type {
    margin-bottom: 2rem;
}

label:first-of-type {
    margin-top: -1.5rem;
}
